.header, .hero,.body,.bar,.footer{
	margin-bottom: 10px;
	background-color: yellow;
}

.box{
	min-height: 80px;
	background-color: red;
	margin: 10px 0;
	color: white;
	font-size: 25px;
}
.red{
	background-color: lime;
}
.blue{
	background-color: orange;

}